{%extends "homepage.html"%}
{%block content%}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-lable="close"> &times;
    </a> <strong> {{message}}</strong>
</div>
{%endfor%}
{%endif%}

<form method="post">
    {%csrf_token%}
    <table class="table">
        <tr> <td>  Username</td>
        <td> <input type="text" name="uname" class="form-control" required/> </td></tr>
        <tr> <td> Password</td>
        <td> <input type="text" name="pwd" class="form-control" required/> </td></tr>
        <tr><td><button type="submit" class="btn btn-success"> Login </button></td></tr>

    </table>
</form>
{%endblock%}