{%extends "homepage.html"%}
{%block content%}

<form method="post">
    {%csrf_token%}
    <table class="table">
        <tr> <td> Enter Card No </td>
        <td> <input type="text" name="cardno" class="form-control" required/> </td></tr>
        <tr> <td> Enter CVV</td>
            <td> <input type="text" name="cvv" class="form-control" required/> </td></tr>
        <tr> <td> Enter Expiry  </td>
                <td> <input type="text" name="expiry" class="form-control" required/> </td></tr>
                <tr><td> Pay</td>
                <td>  <input type="text" value="{{request.session.total}}" readonly class="form-control"> </td></tr>
        <tr><td><button type="submit" class="btn btn-success"> Payment </button></td></tr>

    </table>
</form>
{%endblock%}