{%extends "homepage.html"%}
{%block content%}

<form method="post">
    {%csrf_token%}
    <table class="table">
        <tr> <td> Enter Username</td>
        <td> <input type="text" name="uname" class="form-control" required/> </td></tr>
        <tr> <td> Enter Password</td>
            <td> <input type="text" name="pwd" class="form-control" required/> </td></tr>
        <tr> <td> Enter Email</td>
                <td> <input type="email" name="email" class="form-control" required/> </td></tr>
        <tr><td><button type="submit" class="btn btn-success"> Signup </button></td></tr>

    </table>
</form>
{%endblock%}